<div
    data-ui-role="rating"
    data-ui-fragment="blocks.int.rating"
    data-ui-variant="{{ semantic_variant }}"
    data-controller="symfinity--ux-blocks-interactive--rating"
    data-symfinity--ux-blocks-interactive--rating-max-value="{{ max }}"
    data-symfinity--ux-blocks-interactive--rating-value-value="{{ value }}"
    role="group"
    aria-label="Rating"
    {{ attributes }}
>
    <input type="hidden" name="rating" value="{{ value }}" data-symfinity--ux-blocks-interactive--rating-target="input" />
    {% block content %}{% endblock %}
</div>
