<div
    data-ui-role="slider"
    data-ui-fragment="blocks.int.slider"
    data-ui-variant="{{ semantic_variant }}"
    data-controller="symfony--ux-blocks-interactive--slider"
    data-symfony--ux-blocks-interactive--slider-min-value="{{ min }}"
    data-symfony--ux-blocks-interactive--slider-max-value="{{ max }}"
    data-symfony--ux-blocks-interactive--slider-step-value="{{ step }}"
    {{ attributes }}
>
    <input
        type="range"
        min="{{ min }}"
        max="{{ max }}"
        value="{{ value }}"
        step="{{ step }}"
        data-ui-role="slider-input"
        data-symfony--ux-blocks-interactive--slider-target="input"
        data-action="input->symfony--ux-blocks-interactive--slider#syncValue change->symfony--ux-blocks-interactive--slider#syncValue keydown->symfony--ux-blocks-interactive--slider#keydown"
    />
    <output data-symfony--ux-blocks-interactive--slider-target="output">{{ value }}</output>
    {% block content %}{% endblock %}
</div>
